In [1]:
# The following line will import LogisticRegression and DecisionTreeClassifier Classes

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder

In [2]:
# Importing the required packages and libraries
# we will need numpy and pandas later
import numpy as np
import pandas as pd

# Part A

In [3]:
# reading a CSV file directly from Web, and store it in a pandas DataFrame:
# "read_csv" is a pandas function to read csv files from web or local device:

sw_df = pd.read_csv("D:/Users/ehern/Desktop/Senior Design/Collisions_2012-2018__SWITRS_.csv")

C:\Users\ehern\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (35,36,37,45,62) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# Part B

In [4]:
# checking the dataset by printing every 10 lines:
sw_df[0::10]

,X,Y,OBJECTID,case_id,accident_year,proc_date,juris,collision_date,collision_time,officer_id,...,month_,city,county,state,point_x,point_y,match_addr,m_primaryrd,m_secondrd,int_id
0,-118.448792,34.221439,1,6403396.0,2014,2015/03/03 00:00:00+00,1942,2014/03/10 00:00:00+00,820,40735.0,...,3,LOS ANGELES,LOS ANGELES,CA,-118.448792,34.221439,"VAN NUYS BLVD & ROSCOE BLVD, LOS ANGELES, CA",VAN NUYS BLVD,ROSCOE BLVD,104975.0
10,-118.387816,34.207829,11,6869261.0,2015,2015/04/18 00:00:00+00,1942,2015/03/24 00:00:00+00,735,39724.0,...,3,LOS ANGELES,LOS ANGELES,CA,-118.387816,34.207829,"LANKERSHIM BLVD & SATICOY ST, LOS ANGELES, CA",LANKERSHIM BLVD,SATICOY ST,118685.0
20,-118.450022,34.307835,21,6403353.0,2014,2015/03/02 00:00:00+00,1942,2014/03/11 00:00:00+00,732,33340.0,...,3,LOS ANGELES,LOS ANGELES,CA,-118.450022,34.307835,"GLENOAKS BLVD & POLK ST, LOS ANGELES, CA",GLENOAKS BLVD,POLK ST,115671.0
30,-118.277772,33.982395,31,6364839.0,2014,2015/01/06 00:00:00+00,1942,2014/01/26 00:00:00+00,210,31080.0,...,1,LOS ANGELES,LOS ANGELES,CA,-118.277772,33.982395,"GAGE AVE & BROADWAY, LOS ANGELES, CA",GAGE AVE,BROADWAY,106643.0
40,-118.472951,34.081326,41,7186311.0,2016,2016/03/03 00:00:00+00,1942,2016/01/20 00:00:00+00,600,41578.0,...,1,LOS ANGELES,LOS ANGELES,CA,-118.472951,34.081326,"SEPULVEDA BLVD & CASIANO RD, LOS ANGELES, CA",SEPULVEDA BLVD,CASIANO RD,113199.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215520,-118.304253,33.999138,215521,8187804.0,2016,2016/12/29 00:00:00+00,1942,2016/12/03 00:00:00+00,2230,36821.0,...,12,LOS ANGELES,LOS ANGELES,CA,-118.304253,33.999138,"49TH ST & DENKER AVE, LOS ANGELES, CA",49TH ST,DENKER AVE,106835.0
215530,-118.345738,34.045807,215531,8545309.0,2017,2018/02/06 00:00:00+00,1942,2017/12/16 00:00:00+00,2245,41848.0,...,12,LOS ANGELES,LOS ANGELES,CA,-118.345738,34.045807,"VENICE BLVD & LA BREA AVE, LOS ANGELES, CA",VENICE BLVD,LA BREA AVE,130338.0
215540,-118.630842,34.162636,215541,8784982.0,2018,2019/05/24 00:00:00+00,1942,2018/12/19 00:00:00+00,2240,40353.0,...,12,LOS ANGELES,LOS ANGELES,CA,-118.630842,34.162636,"VENTURA BLVD & WOODLAKE AVE, LOS ANGELES, CA",VENTURA BLVD,WOODLAKE AVE,130909.0
215550,-118.213052,34.041145,215551,8797458.0,2018,2019/02/08 00:00:00+00,1942,2018/12/23 00:00:00+00,2130,43301.0,...,12,LOS ANGELES,LOS ANGELES,CA,-118.213052,34.041145,"4TH ST & BREED ST, LOS ANGELES, CA",4TH ST,BREED ST,114069.0
215560,-118.495082,34.134964,215561,8525998.0,2017,2018/02/01 00:00:00+00,1942,2017/12/10 00:00:00+00,2320,41829.0,...,12,LOS ANGELES,LOS ANGELES,CA,-118.495082,34.134964,"CALNEVA DR & ALGINET DR, LOS ANGELES, CA",CALNEVA DR,ALGINET DR,108285.0

# Part C

In [5]:
# Creating the Feature Matrix for iris dataset:

# create a python list of feature names that would like to pick from the dataset:
feature_cols = ['X','Y','number_killed','number_injured', 'count_severe_inj', 'count_visible_inj', 'count_ped_killed', 'count_ped_injured', 'count_bicyclist_killed', 'count_bicyclist_injured', 'count_mc_killed', 'count_mc_injured']

# use the above list to select the features from the original DataFrame
X = sw_df[feature_cols]  

# print the first 5 rows
X.head()

,X,Y,number_killed,number_injured,count_severe_inj,count_visible_inj,count_ped_killed,count_ped_injured,count_bicyclist_killed,count_bicyclist_injured,count_mc_killed,count_mc_injured
0,-118.448792,34.221439,0,0,0,0,0,0,0,0,0,0
1,-118.429549,33.992874,0,0,0,0,0,0,0,0,0,0
2,-118.535527,34.174896,0,0,0,0,0,0,0,0,0,0
3,-118.328442,34.032585,0,2,0,1,0,0,0,0,0,0
4,-118.354902,34.041447,0,1,0,0,0,1,0,0,0,0

In [6]:
# select a Series of labels (the last column) from the DataFrame
y = sw_df['collision_severity']

# checking the label vector by printing every 10 values
y[::10]

0         0
10        4
20        0
30        0
40        0
         ..
215520    0
215530    0
215540    4
215550    4
215560    0
Name: collision_severity, Length: 21557, dtype: int64

# Part D

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=6)

# Part E

#### KNN:

In [8]:
from sklearn.model_selection import train_test_split

k = 3
my_knn = KNeighborsClassifier(n_neighbors=k)
my_knn.fit(X_train, y_train)
y_predict_knn = my_knn.predict(X_test)
accuracy = accuracy_score(y_test, y_predict_knn)

print(accuracy)

0.9991093297706524

#### Decision Tree:

In [9]:
from sklearn.model_selection import train_test_split

my_decisiontree = DecisionTreeClassifier(random_state = 5)
my_decisiontree.fit(X_train, y_train)
y_predict_dt = my_decisiontree.predict(X_test)
accuracy = accuracy_score(y_test, y_predict_dt)

print(accuracy)

0.9995175536257701

#### Logistic Regression:

In [10]:
from sklearn.model_selection import train_test_split

my_logreg = LogisticRegression(max_iter = 7600)
my_logreg.fit(X_train, y_train)
y_predict_lr = my_logreg.predict(X_test)
accuracy = accuracy_score(y_test, y_predict_lr)

print(accuracy)

0.9996288874044386

# Part H

#### KNN:

In [11]:
from sklearn.model_selection import cross_val_score

In [12]:
# Applying 10-fold cross validation with "logistic regression" classifier:

# In the following line, "my_logreg" is instantiated as an "object" of LogisticRegression "class". 
k = 3
my_knn = KNeighborsClassifier(n_neighbors=k)
# function cross_val_score performs Cross Validation:
accuracy_list = cross_val_score(my_knn, X, y, cv=10, scoring='accuracy')

print(accuracy_list)

[0.99939695 0.99948972 0.99809807 0.99953611 0.99967528 0.99948972
 0.99962889 0.99953609 0.99930414 0.99962887]

In [13]:
# use average of accuracy values as final result
accuracy_cv = accuracy_list.mean()

print(accuracy_cv)

0.9993783850679765

#### Decision Tree:

In [14]:
from sklearn.model_selection import cross_val_score

In [15]:
# Applying 10-fold cross validation with "logistic regression" classifier:

# In the following line, "my_logreg" is instantiated as an "object" of LogisticRegression "class". 
my_decisiontree = DecisionTreeClassifier(random_state = 5)
# function cross_val_score performs Cross Validation:
accuracy_list = cross_val_score(my_decisiontree, X, y, cv=10, scoring='accuracy')

print(accuracy_list)

[0.99962889 0.99986083 0.99851556 0.99981445 0.99953611 0.99986083
 0.99972167 0.99976805 0.99958248 0.99986083]

In [16]:
# use average of accuracy values as final result
accuracy_cv = accuracy_list.mean()

print(accuracy_cv)

0.9996149705958921

#### Logistic regression

In [17]:
from sklearn.model_selection import cross_val_score

In [19]:
# Applying 10-fold cross validation with "logistic regression" classifier:

# In the following line, "my_logreg" is instantiated as an "object" of LogisticRegression "class". 
my_logreg = LogisticRegression(max_iter=7600)

# function cross_val_score performs Cross Validation:
accuracy_list = cross_val_score(my_logreg, X, y, cv=10, scoring='accuracy')

print(accuracy_list)

[0.99967528 0.99976806 0.99851556 0.99995361 0.99995361 1.
 0.99986083 0.99981444 1.         1.        ]

In [20]:
# use average of accuracy values as final result
accuracy_cv = accuracy_list.mean()

print(accuracy_cv)

0.9997541393256799

As we can see, Logistic Regression was the best. Overall it was the best to use whether we slpit the data or used cross-validation.